body {
	background: rgb(197,255,254);
}
header {
      text-align: center;
      color: rgb(70,128,146);
	background: url('https://lh3.google.com/u/0/d/0B-kQ17u9NGVjUGZxYm5aYnp5LU0=w1236-h829-iv1');
    }
    a {
      color: black
    }
    h1 {
      font-size: 70px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
	    h1 {
	    text-align: center;
	    }
	    
    
